Repository it-timo/goboot: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, markdownlint

.pre-commit-config.yaml:

#  -----------------------------------------------------------------------------
#  .pre-commit-config.yaml — Developer checks before commits for `goroot`
#  -----------------------------------------------------------------------------
#
#  All changes must be made by the developer — no auto-magic or format rewriting.
#  -----------------------------------------------------------------------------

repos:
  #  Linters
  - repo: local
    hooks:
      - id: golint
        name: golint
        entry: golangci-lint run ./...
        language: system

      - id: yamllint
        name: yamllint
        entry: yamllint .
        language: system
        types: [yaml]

      - id: checkmake
        name: checkmake
        entry: checkmake Makefile
        language: system
        types: [makefile]

      - id: markdownlint
        name: markdownlint
        entry: docker run --rm -v "$PWD:/workdir" -w /workdir ghcr.io/igorshubovych/markdownlint-cli:v0.45.0 "**/*.md"
        language: system
        types: [markdown]

fix: removed diff
  diff.txt
Due: none

fix: added missing go mod and sum
  go.mod
  go.sum
Due: none

fix: fixed ci issue
  .github/workflows/lint.yml
  .gitlab/ci/lint.yml
  scripts/verify_ci_canary.sh
  templates/ci_base/gitlab/.gitlab/ci/lint.yml.tmpl
Due: yamllint

fix: fixed compose commands and unconditional compose validation
  doc/containerization.md
  pkg/basedocker/baseDocker.go
  pkg/basedocker/baseDocker_test.go
  templates/local_base/Makefile.tmpl
  templates/local_base/Taskfile.yml.tmpl
Due: markdownlint

feat: add v0.2.1 release automation
  .github/workflows/release.yml
  .goreleaser.yml
  CHANGELOG.md
  Makefile
  README.md
  ROADMAP.md
  Taskfile.yml
  configs/base_release.yml
  configs/goboot.yml
  doc/PROJECT_STRUCTURE.md
  doc/README.md
  doc/adr/adr-036-tag-driven-release-automation.md
  doc/releasing.md
  pkg/baserelease/baseRelease.go
  pkg/baserelease/baseRelease_suite_test.go
  pkg/baserelease/baseRelease_test.go
  pkg/config/baseCI.go
  pkg/config/baseRelease.go
  pkg/config/baseRelease_test.go
  pkg/config/goboot.go
  pkg/goboot/goboot.go
  pkg/goboottypes/defaults.go
  pkg/goboottypes/names.go
  templates/ci_base/github/.github/workflows/release.yml.tmpl
  templates/ci_base/gitlab/.gitlab-ci.yml.tmpl
  templates/ci_base/gitlab/.gitlab/ci/release.yml.tmpl
  templates/release_base/.goreleaser.yml.tmpl
  templates/release_base/RELEASE.md.tmpl
  versions.env
Due: yamllint, markdownlint

fix: satisfy release automation lint rules
  pkg/baserelease/baseRelease.go
  pkg/config/baseRelease.go
  pkg/config/baseRelease_test.go
Due: none

fix: clear GoReleaser GitLab entrypoint
  pkg/baseci/template_contract_test.go
  templates/ci_base/gitlab/.gitlab/ci/release.yml.tmpl
Due: none

feat: add v0.3.0 template profiles
  CHANGELOG.md
  README.md
  ROADMAP.md
  cmd/goboot/main_e2e_test.go
  configs/base_test.yml
  configs/goboot.yml
  doc/PROJECT_STRUCTURE.md
  doc/README.md
  doc/adr/adr-037-explicit-template-profiles.md
  doc/examples.md
  doc/profiles.md
  doc/quickstart.md
  pkg/config/baseLint.go
  pkg/config/baseProject.go
  pkg/config/baseTest.go
  pkg/config/baseTest_test.go
  pkg/config/goboot.go
  pkg/config/profile_test.go
  pkg/goboottypes/defaults.go
  pkg/goboottypes/defaults_test.go
  pkg/goboottypes/interfaces.go
  templates/lint_base/.golangci.yml.tmpl
  templates/project_base/PROFILE.md.tmpl
  templates/project_base/PROJECT_STRUCTURE.md.tmpl
  templates/project_base/README.md.tmpl
Due: yamllint, markdownlint

docs: align workflow with profiles and releases
  doc/WORKFLOW.md
Due: markdownlint

fix: satisfy profile milestone lint rules
  pkg/config/goboot.go
  pkg/config/profile_test.go
Due: none

fix: align profile documentation tables
  doc/WORKFLOW.md
  doc/profiles.md
Due: markdownlint

docs: normalize workflow indentation
  doc/WORKFLOW.md
Due: markdownlint

fix: satisfy governance lint rules
  pkg/basegovernance/baseGovernance_suite_test.go
  pkg/config/baseGovernance.go
  pkg/config/baseGovernance_test.go
  pkg/config/goboot.go
Due: none

docs: normalize contribution indentation
  CONTRIBUTING.md
  templates/governance_base/CONTRIBUTING.md.tmpl
Due: markdownlint

feat: add v0.5.0 supply-chain security
  .github/workflows/security.yml
  CHANGELOG.md
  README.md
  ROADMAP.md
  cmd/goboot/main_e2e_test.go
  configs/base_supplychain.yml
  configs/goboot.yml
  doc/PROJECT_STRUCTURE.md
  doc/README.md
  doc/adr/README.md
  doc/adr/adr-039-explicit-supply-chain-security.md
  doc/quickstart.md
  doc/supply-chain-security.md
  pkg/baseci/template_contract_test.go
  pkg/basesupplychain/baseSupplyChain.go
  pkg/basesupplychain/baseSupplyChain_suite_test.go
  pkg/basesupplychain/baseSupplyChain_test.go
  pkg/config/baseSupplyChain.go
  pkg/config/baseSupplyChain_test.go
  pkg/config/goboot.go
  pkg/goboot/goboot.go
  pkg/goboot/goboot_test.go
  pkg/goboottypes/defaults.go
  pkg/goboottypes/defaults_test.go
  pkg/goboottypes/interfaces_test.go
  pkg/goboottypes/names.go
  scripts/verify_ci_canary.sh
  scripts/verify_introproject.sh
  templates/ci_base/github/.github/workflows/security.yml.tmpl
  templates/ci_base/gitlab/.gitlab-ci.yml.tmpl
  templates/ci_base/gitlab/.gitlab/ci/security.yml.tmpl
  templates/project_base/PROJECT_STRUCTURE.md.tmpl
  templates/project_base/README.md.tmpl
  templates/supplychain_base/SUPPLY_CHAIN.md.tmpl
  testdata/cmd_goboot/base/supplychain.yml
  testdata/cmd_goboot/goboot/e2e.yml
Due: yamllint, markdownlint

fix: align CI with Go 1.26.5
  .github/workflows/build.yml
  .github/workflows/test.yml
  .gitlab/ci/build.yml
  .gitlab/ci/test.yml
Due: yamllint

fix: avoid duplicate CodeQL setup
  .github/workflows/security.yml
  CHANGELOG.md
  doc/supply-chain-security.md
Due: yamllint, markdownlint

feat: enable advanced CodeQL for goboot
  .github/workflows/security.yml
  CHANGELOG.md
  doc/supply-chain-security.md
Due: yamllint, markdownlint

feat: add v0.6.0 performance and scale
  .github/workflows/performance.yml
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  ROADMAP.md
  Taskfile.yml
  configs/goboot.yml
  doc/PROJECT_STRUCTURE.md
  doc/README.md
  doc/TESTING.md
  doc/adr/README.md
  doc/adr/adr-040-bounded-parallel-generation.md
  doc/performance.md
  doc/quickstart.md
  pkg/baseci/baseCI.go
  pkg/baselocal/baseLocal.go
  pkg/basetest/baseTest.go
  pkg/basetest/baseTest_test.go
  pkg/config/goboot.go
  pkg/config/goboot_benchmark_test.go
  pkg/config/goboot_test.go
  pkg/goboot/goboot.go
  pkg/goboot/service.go
  pkg/goboot/service_benchmark_test.go
  pkg/goboot/service_internal_test.go
  pkg/gobootutils/template_benchmark_test.go
  testdata/cmd_goboot/goboot/e2e.yml
Due: yamllint, markdownlint

fix: satisfy performance milestone lint
  pkg/config/goboot.go
  pkg/goboot/service.go
  pkg/goboot/service_benchmark_internal_test.go
  pkg/goboot/service_internal_test.go
  pkg/gobootutils/template_benchmark_test.go
  pkg/gobootutils/template_test.go
Due: none

feat: add safe project regeneration
  CHANGELOG.md
  README.md
  ROADMAP.md
  cmd/goboot/main.go
  cmd/goboot/main_e2e_test.go
  cmd/goboot/main_test.go
  configs/goboot.yml
  doc/PROJECT_STRUCTURE.md
  doc/README.md
  doc/VERSIONING.md
  doc/adr/README.md
  doc/adr/adr-041-manifest-based-regeneration.md
  doc/quickstart.md
  doc/regeneration.md
  pkg/config/goboot.go
  pkg/config/goboot_test.go
  pkg/regeneration/manifest.go
  pkg/regeneration/planner.go
  pkg/regeneration/regeneration_suite_test.go
  pkg/regeneration/regeneration_test.go
  pkg/regeneration/transaction.go
  pkg/regeneration/types.go
  testdata/cmd_goboot/goboot/e2e.yml
Due: yamllint, markdownlint

fix: satisfy regeneration quality gates
  cmd/goboot/main.go
  cmd/goboot/main_e2e_test.go
  cmd/goboot/main_test.go
  pkg/regeneration/manifest.go
  pkg/regeneration/planner.go
  pkg/regeneration/regeneration_suite_test.go
  pkg/regeneration/regeneration_test.go
  pkg/regeneration/transaction.go
  pkg/regeneration/types.go
Due: none

style: align regeneration lint rules
  cmd/goboot/main.go
  pkg/regeneration/regeneration_test.go
  pkg/regeneration/transaction.go
Due: none

style: separate regeneration test phases
  pkg/regeneration/regeneration_test.go
Due: none

docs: align milestone tables
  doc/VERSIONING.md
  doc/adr/README.md
Due: markdownlint

docs: align transaction list indentation
  doc/regeneration.md
Due: markdownlint

feat: stabilize CLI and configuration contracts
  .github/workflows/compatibility.yml
  CHANGELOG.md
  README.md
  ROADMAP.md
  cmd/goboot/contract.go
  cmd/goboot/main.go
  cmd/goboot/main_test.go
  configs/base_ci.yml
  configs/base_docker.yml
  configs/base_governance.yml
  configs/base_lint.yml
  configs/base_local.yml
  configs/base_logger.yml
  configs/base_project.yml
  configs/base_release.yml
  configs/base_supplychain.yml
  configs/base_test.yml
  configs/goboot.yml
  doc/PROJECT_STRUCTURE.md
  doc/README.md
  doc/adr/README.md
  doc/adr/adr-042-stable-cli-config-contract.md
  doc/cli-config-contract.md
  doc/quickstart.md
  pkg/config/schema_contract_test.go
  pkg/regeneration/types.go
  schemas/README.md
  schemas/base_ci.schema.json
  schemas/base_docker.schema.json
  schemas/base_governance.schema.json
  schemas/base_lint.schema.json
  schemas/base_local.schema.json
  schemas/base_logger.schema.json
  schemas/base_project.schema.json
  schemas/base_release.schema.json
  schemas/base_supplychain.schema.json
  schemas/base_test.schema.json
  schemas/goboot.schema.json
Due: yamllint, markdownlint

fix: make CLI help a successful operation
  cmd/goboot/main.go
  cmd/goboot/main_test.go
  doc/cli-config-contract.md
Due: markdownlint

fix: satisfy strict CLI lint contract
  cmd/goboot/contract.go
  cmd/goboot/main.go
  cmd/goboot/main_test.go
  cmd/goboot/testhelpers_test.go
  doc/cli-config-contract.md
Due: markdownlint
